<div>
  <h5>My guess is:</h5>
  <h3 class="gender"><%= @gender_guess %></h3>
  <h5>Is this correct?</h5>

  <!-- Each button is a post containing height, weight, gender, guess_correct data -->
  <%= button_to 'Yes', { action: 'correct', remote: true, height: @height, weight: @weight,
    guessed_gender: @gender_guess } %>
  <%= button_to 'No', { action: 'incorrect', remote: true, height: @height, weight: @weight,
    guessed_gender: @gender_guess } %>

</div>