<div class="guess">
  <h5>My guess is:</h5>
  <h3><%= @gender_guess %></h3>
  <h5>Is this correct?</h5>

  <%= button_to 'Yes', { action: 'correct', remote: true, height: @height, weight: @weight,
    guessed_gender: @gender_guess }, {:class => "btn btn-default btn-primary" } %>
  <%= button_to 'No', { action: 'incorrect', remote: true, height: @height, weight: @weight,
    guessed_gender: @gender_guess }, {:class => "btn btn-default btn-primary" } %>

</div>