<h2>Gender Guess</h2>
<p>Enter your height and weight and I will guess your gender!</p>

<%= render 'guess_form' %>

<% if flash[:error] != nil %>
  <p>INVALID ENTRY. PLEASE TRY AGAIN</p>
  <%= flash[:error] %>
<% end %>
